.navbar{
    display: flex;
    background-color: palevioletred;
    padding-left: 20px;
    align-items: center;        
    justify-content: space-between; 
    padding: 1rem 2rem;
    height: 70px;             
    color: white;
    font-size: 30px;
}

.nav-button{
    border-radius: 8px;
    background-color: pink;
    width: 100px;
    height: 40px;
    border-color: palevioletred; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.nav-but-div{
    box-shadow: 10px;
}

.nav-brand{
    font-size: 10px;

}

.nav-links{

}
        